<div class="home-intro">
    <div class="jumbo">Welcome to my Site</div>
    <div class="home-sub-text">
    <p>
        This is my personal site. It also serves the purpose of being a public facing
        interface for my personal knowledge management system. This system is
        influenced by the Zettelkasten and Digital Garden systems. Below are some
        links to the indexes for specific areas of notes or knowledge. Each index should be a good
        starting point into specific areas of the knowledge base.<br><br>
        I keep a log of my current activities in my <a href="../now">now</a> page. This page is inspired by a movement started by Derek Sivers. I tend to not post much to social media so this is a quick way to see what I am doing with my time.<br><br>
        Lastly I also write blogs, though somewhat inconsistently (I'm trying to get better about it). You can see a list of my blogs <a href="../notes/blog">here</a>.
    </p>
    </div>
    <h2>Index Maps</h2>
    <a href="../notes/00-Meta">
      00s Meta
    </a><br>
    <a href="../notes/10-Personal">
      10s Personal
    </a><br>
    <a href="../notes/20-Interests">
      20s Interests
    </a><br>
    <a href="../notes/30-Notes">
      30s Notes
    </a><br>
</div>
