<div class="column is-4">
    <div class="block homeblock">
    <h1>Welcome to my site</h1>

    <p>
        This is my personal site. It also serves the purpose of being a public facing
        interface for my personal knowledge management system. This system is
        influenced by the Zettelkasten and Digital Garden systems. Below are some
        links to the indexes for specific areas of notes or knowledge. Each index should be a good
        starting point into specific areas of the knowledge base.<br><br>
        You can also see my about page for information about me. I also try to blog
        from time to time. You can find a link in the header to my blog posts.
    </p>

    <h2>Index Maps</h2>
    <a href="../notes/00-Meta">
      00s Meta
    </a><br>
    <a href="../notes/10-Personal">
      10s Personal
    </a><br>
    <a href="../notes/20-Interests">
      20s Interests
    </a><br>
    <a href="../notes/30-Notes">
      30s Notes
    </a><br>
    </div>
</div>
