<div class="column is-4">
    <div class="block homeblock">
    <h1>Index</h1>

    <p>
        Welcome to the Index of my Digital Garden. This is the starting point into my thoughts and ideas.
    </p>

    <h2>Index Maps</h2>
    <a href="../notes/00-Meta">
      00s Meta
    </a><br>
    <a href="../notes/10-Personal">
      10s Personal
    </a><br>
    <a href="../notes/20-Interests">
      20s Interests
    </a><br>
    <a href="../notes/30-Notes">
      30s Notes
    </a><br>
    </div>
</div>
