---
layout: Post
---
<div class="jumbo">Latest Posts</div>
<div class="related-wrapper">
  {% for post in site.posts %}
    <div class="notelist-feed">
        <a href="{{ site.url }}{{ post.url }}">
          <h6>{{ post.title }}</h6>
            <p class="excerpt">
              {{post.date |  date_to_string }} -
              {{ post.excerpt | strip_html | strip | remove: "[[" | remove: "]]" | remove: "-" | escape | truncate: 200 }}
            </p>
        </a>
    </div>
  {% endfor %}
</div>
